.elexiaInputWrapper form {
  display:inline-flex;
  padding: 4px;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.labelWrapper {
  width: 30%;
  text-align: center;
}

.labelWrapper label {
  margin-right: 10px;
  padding: 6px;
}

.inputWrapper {
  width: 70%;
  gap: 10px;
}

.inputWrapper input {
  border: 2px solid gray;
  border-radius: 7px ;
  padding: 6px;
  text-align: center;
  justify-content: center
}
.error {
  color: red;
  width: 100%; /* Hata mesajının genişliğini yüzde olarak ayarlayın */
  box-sizing: border-box; /* Genişlikte padding ve border'ı dahil et */
  word-wrap: break-word; /* Uzun kelimeleri otomatik olarak satır sonuna al */
}
