.liftInfoContainer {
  display: block;
  color: green;
  border: 1px gainsboro solid;
  border-radius: 7px;
  width: -webkit-fill-available;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .liftInfoContainer {
    width: 100%;
    }
  }


  